.container
{
    display: flex;
    padding-left: 110px;
    margin-top: 50px;
}
.form
{
    border:0.5px solid black;
    height: 330px;
    margin-top: 55px;
    width: 260px;
}
.form input
{
    margin-left: 25px;
    margin-top: 5px;
    width: 200px;
    height: 20px;
}
.log input
{
    height: 25px;
    width: 210px;
    background-color: rgb(12, 183, 245);
    color: whitesmoke;
    border: unset;
    border-radius: 5px;
    margin-top: 15px;
}
.form2
{
    border: 0.5px solid black;
    height: 80px;
    display: flex;
}
.form2 p
{
    margin-top: 28px;
}